:root {
    --color-medium-blue: #b2d6ff;
    --color-red: #f09a9d;
    --color-yellow: #f5cf8e;
    --color-light-blue: #d6e9fe;
    --color-gray: #eaedf0;
}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    overflow: hidden;
    background-color: var(--color-gray);
}

.page {
    width: 900px;
    margin: 0 auto;
}

.menu {
    height: 100px;
    background-color: var(--color-medium-blue);
}

.sidebar {
    float: left;
    width: 200px;
    height: 300px;
    background-color: var(--color-red);
}

.content {
    float: left;
    width:  650px;
    height: 500px;
    background-color: var(--color-yellow);
    padding: 20px;
}

.article-image {
    float: left;
    width: 300px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 20px;
}

.footer {
    overflow: hidden;
    background-color: var(--color-light-blue);
}

.column {
    float: left;
    width: 31%;
    margin: 20px 1.15%;
    height: 160px;
    background-color: var(--color-medium-blue);
}

.avatar {
    float: left;
    margin: 25px;
    width: 60px;
    height: 60px;
    background-color: var(--color-light-blue);
    border-radius: 30px;
}

.username {
    margin-top: 30px;
}

.comment {
    margin: 10px;
    overflow: hidden;
}